*{padding: 0;
margin: 0px;
box-sizing: border-box;}
body{
    background-color: orchid;
}
.header{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 70px;
    font-weight: 800;
}
.submit{
    display: flex;
    justify-content: center;
    
    
}
.taskdetails{
    display: flex;
    flex-direction: column;
   margin: auto;
   padding: 10px;
   justify-content: center;
    width: 250px;
    gap: 5px;
    border-style: groove;
    border-radius: 20px;
    background-color: purple;
}
.description{
    height: 50px;
}
select{
    color: orangered;
    cursor: pointer;
}
.select{
    display: inline-block;
    width: 100px;
   position: relative;
    color: black;
    align-items: center;
    justify-content: center;
    padding-left: 250px;
}
.dropdown{
    display: flex;
    margin: 50px;
    align-items:flex-end;
    justify-content: flex-end;
    border-radius: 30%;
}
.tasklist{
   display: flex;
   background-color: blueviolet;
   
}

.tasksdiv{
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 100px;
    background-color: blueviolet;
    align-items: center;
}